# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [33]:
# import numpy and pandas

# pa pintar
import matplotlib.pyplot as plt
%matplotlib inline

# sospechos habituales
import pandas as pd
import numpy as np

# esto son distribuciones
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

from scipy.stats import ttest_1samp

from scipy.stats import ttest_rel   # con muestras dependientes

from scipy.stats import ttest_ind   # con muestras independientes

# ols = minimos cuadrados ordinarios, regresion lineal
import statsmodels.api as sm
from statsmodels.formula.api import ols

# pa quitar warnings
import warnings
warnings.simplefilter('ignore')

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

legendary = pokemon[pokemon.Legendary == True]
len(legendary)

65

In [5]:
non_legendary = pokemon[pokemon.Legendary == False]
len(non_legendary)

735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:

legendary.describe().T

            count        mean         std    min    25%    50%    75%    max
#            65.0  470.215385  173.651095  144.0  381.0  483.0  642.0  721.0
Total        65.0  637.384615   60.937389  580.0  580.0  600.0  680.0  780.0
HP           65.0   92.738462   21.722164   50.0   80.0   91.0  105.0  150.0
Attack       65.0  116.676923   30.348037   50.0  100.0  110.0  131.0  190.0
Defense      65.0   99.661538   28.255131   20.0   90.0  100.0  115.0  200.0
Sp. Atk      65.0  122.184615   31.104608   50.0  100.0  120.0  150.0  194.0
Sp. Def      65.0  105.938462   28.827004   20.0   90.0  100.0  120.0  200.0
Speed        65.0  100.184615   22.952323   50.0   90.0  100.0  110.0  180.0
Generation   65.0    3.769231    1.455262    1.0    3.0    4.0    5.0    6.0

In [7]:
non_legendary.describe().T

            count        mean         std    min    25%    50%    75%    max
#           735.0  353.315646  208.590419    1.0  175.5  346.0  533.5  715.0
Total       735.0  417.213605  106.760417  180.0  324.0  425.0  498.0  700.0
HP          735.0   67.182313   24.808849    1.0   50.0   65.0   79.5  255.0
Attack      735.0   75.669388   30.490153    5.0   54.5   72.0   95.0  185.0
Defense     735.0   71.559184   30.408194    5.0   50.0   66.0   85.0  230.0
Sp. Atk     735.0   68.454422   29.091705   10.0   45.0   65.0   85.0  175.0
Sp. Def     735.0   68.892517   25.669310   20.0   50.0   65.0   85.0  230.0
Speed       735.0   65.455782   27.843038    5.0   45.0   64.0   85.0  160.0
Generation  735.0    3.284354    1.673471    1.0    2.0    3.0    5.0    6.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# Your code here:

ttest_ind(legendary['Total'], non_legendary['Total'])

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [9]:
# Your conclusions here:

# Pvalue lo podríamos considerar cero, por lo tanto hay diferencias significativas entre ambas muestras como era de esperar.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [10]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [11]:
# Your code here:

water_types = pokemon[pokemon['Type 1'] == 'Water']
water_types.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

In [12]:
water_types.describe().T

            count        mean         std    min     25%    50%     75%    max
#           112.0  303.089286  188.440807    7.0  130.00  275.0  456.25  693.0
Total       112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0
HP          112.0   72.062500   27.487026   20.0   52.25   70.0   90.25  170.0
Attack      112.0   74.151786   28.377192   10.0   53.00   72.0   92.00  155.0
Defense     112.0   72.946429   27.773809   20.0   54.50   70.0   88.50  180.0
Sp. Atk     112.0   74.812500   29.030128   10.0   55.00   70.0   90.50  180.0
Sp. Def     112.0   70.517857   28.460493   20.0   50.00   65.0   89.25  160.0
Speed       112.0   65.964286   23.019353   15.0   50.00   65.0   82.00  122.0
Generation  112.0    2.857143    1.558800    1.0    1.00    3.0    4.00    6.0

In [13]:
non_water_types = pokemon[pokemon['Type 1'] != 'Water']
non_water_types.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [14]:
non_water_types.describe().T

            count        mean         std    min     25%    50%     75%    max
#           688.0  372.536337  209.928799    1.0  197.75  380.0  553.25  721.0
Total       688.0  435.859012  121.091682  180.0  330.00  450.0  515.00  780.0
HP          688.0   68.802326   25.194299    1.0   50.00   65.0   80.00  255.0
Attack      688.0   79.790698   33.025152    5.0   55.00   76.0  100.00  190.0
Defense     688.0   73.988372   31.719933    5.0   50.00   70.0   90.00  230.0
Sp. Atk     688.0   72.495640   33.292537   10.0   45.00   65.0   95.00  194.0
Sp. Def     688.0   72.127907   27.739292   20.0   50.00   70.0   90.00  230.0
Speed       688.0   68.654070   29.925907    5.0   45.00   65.0   90.00  180.0
Generation  688.0    3.399709    1.666119    1.0    2.00    3.0    5.00    6.0

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [25]:
# Your code here:

ttest_ind(water_types['Total'], non_water_types['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [26]:
# Your conclusions here:

# No existe una diferencia considerable ya que el Pvalue > 0.05

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [30]:
# H1: es nuestra hipótesis, es decir, que el ataque y a defensa son iguales, por otro lado H0 será justo lo contrario. 
# Al ser la comparativa entre dos estadisticas en un mismo pokemon existe una dependencia, por lo tanto tendrá 
# un grado de libertad menos.

ttest_rel(pokemon.Attack, pokemon.Defense)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [28]:
# Your conclusions here:

# El resultado de Pvalue es muy cercano a cero por lo que si existe una diferencia significativa entre el ataque y la defensa de cada pokemon.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [31]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [20]:
# Your conclusions here:

# El Pvalue > 0.05 por lo tanto no existe una diferencia significativa

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [34]:
# Your code here:

ttest_1samp(pokemon.Attack - pokemon.Defense, 0)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [22]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [23]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [24]:
# Your answer here: